@font-face {
 font-family: 'Poppins';
 src: url('./../../assets/fonts/Poppins/Poppins-Regular.ttf') format('woff2');
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'Poppins Italic';
 src: url('./../../assets/fonts/Poppins/Poppins-Italic.ttf') format('woff2');
 font-weight: 400;
 font-style: italic;
}

/*@font-face {
 font-family: 'Poppins Bold';
 src: url('./../../assets/themes/default/fonts/Poppins/Poppins-Bold.ttf') format('woff2');
 font-weight: 600;
 font-style: normal;
}*/

:root {
 /*default font*/
 --theme-font-family: 'Poppins', sans-serif;
 --theme-font-family-secondary: 'Poppins', sans-serif;
 --theme-font-family-italic: 'Poppins Italic', sans-serif;
 /*icon font*/

 /*default colors*/
 --theme-white: #fff;
 --theme-beige: #FAF8F2;
 --theme-primary-color: #2196F3;
 --theme-primary-color--100: #E9F5FE;
 --theme-secondary-color: #145A92; 

 --theme-black: #2D2D31; 
 --theme-grey__text:#71717A;
 --theme-border-color: #C6C6CA;
 --theme-grey__background: #f1f1f1;

 --theme-menu-image: url('./assets/themes/default/menu-bg.png');
 --theme-list-image: url('./assets/themes/default/title & datepicker.png');

 --theme-border-radius: 10px;

}