
:root {
    /*default font*/
    --theme-font-family: 'Poppins', sans-serif;
    --theme-font-family-secondary: 'Poppins', sans-serif;
    /*icon font*/

    /*default colors*/
    --theme-white: #fff;
    --theme-beige: #FAF8F2;
    --theme-primary-color: #2196F3;
    --theme-primary-color--100: #E9F5FE;
    --theme-secondary-color: #145A92;

    --theme-black: #2D2D31;
    --theme-border-color: #ddd;

    --theme-menu-image: url('./assets/themes/default/menu-bg.png');
    
}