.access-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: 1rem;
    background-color: var(--soft-grey-color);
}

.login-card {
    margin: 1rem;
    margin-top: auto;
    max-width: 549px;

    .p-card {
        box-shadow: none;
        border-radius: 8px;
        border: 1px solid var(--dialog-border-color);
    }

    .p-card-title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 0px;
    }

    .p-card-body {
        padding: 1rem 7.5rem 2rem 7.5rem;

        @media (max-width: 767px) {
            padding: 1rem 4rem 1.5rem 4rem;
        }

        @media (max-width: 460px) {
            padding: 1rem 2rem 1.5rem 2rem;
        }

        h2 {
            font-size: 18px;
            text-align: center;
            margin-bottom: 1.25rem;
            font-weight: 400;
        }

        .logo {
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
            max-width: 170px;
        }

        form {
            width: 307px;

            @media (max-width: 767px) {
                width: inherit;
            }
        }
    }

    .password-block {
        position: relative;

        .p-inputtext {
            padding-right: 40px;
            height: 40.3px; 
            font-size: 25px;           
        }

        .p-inputtext::placeholder{
            font-size: 13px; 
            position: absolute;      
            top: 12px;    
        }

        .p-inputtext[type="text"]{
            font-size: 13px; 
        }

        .show-password-btn {
            position: absolute;
            top: 32px;
            right: 10px;
            height: inherit;
            padding: 0px;
            width: inherit;
            border: none;
            background: none;
            color: var(--login-show-password-btn-colo);

            &:hover,
            &:active {
                border: none;
                background: none;
                color: var(--login-show-password-btn-colo);
            }
        }
    }

    //estilos especificos para la card de cambio contraseña
    &.change-password-card,
    &.autentification-card {
        .p-card-body {
            padding: 3rem 2rem 0.5rem 2rem;

            form {
                padding: 0rem 5.5rem 0rem 5.5rem;
                width: inherit;

                @media (max-width: 767px) {
                    padding: 0rem 0rem 0rem 0rem;
                }
            }
        }
    }

    &.autentification-card {
        .p-card-body {
            padding: 3rem 2rem 2rem 2rem;
        }
    }
}

.current-password {
    border-bottom: 1px solid var(--login-password-border-color);
}

button, button:focus  {
    .fa-light {
        font-weight: 400;
    }
}

.new-password-overlay {
    max-width: 350px;

    .password-terms {
        list-style: none;
        margin-bottom: 5px;
        padding-left: 0px;
        font-size: 13px;
        line-height: 16px;

        li {
            display: flex;
            align-items: baseline;
            margin-top: .45rem;

            &.dot {
                color: var(--focus-input-border);

                &:before {
                    content: "";
                    width: 8px;
                    min-width: 8px;
                    height: 8px;
                    display: block;
                    margin-right: 0.6rem;
                    border-radius: 50%;
                    background-color: var(--disabled-label-color);
                }

                &.checked {
                    color: var(--text-custom-color);

                    &:before {
                        background-color: var(--dialog-success-color);
                    }
                }
            }
        }

        >ul {
            list-style: none;
            margin: 0px;
            padding-left: 1.25rem;
        }
    }
}

.access-section {
    .p-toast {
        margin-top: 0px;
    }
}

.login-divider {
    border-bottom: 1px solid var(--disabled-label-color);
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;

    span {
        position: absolute;
        color: var(--disabled-label-color);
        font-size: 15px;
        line-height: 15px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


//estilos especificos pagina de seleccion de rol
.rol-selection-page {
    background-color: #FFFFFF;
    overflow: auto;

    .title {
        font-size: 28px;
        margin-bottom: 2rem;
        font-weight: bolder;
    }

    .subtitle {
        margin-bottom: 3rem;
    }
}

.simple-card {
    box-shadow: none;
    border: 1px solid var(--dialog-border-color);
    cursor: pointer;
    min-width: 307px;
    min-height: 204px;

    .p-card-body {
        padding: 2rem;

        .p-card-content {
            padding: 0px;

            .card-title {
                font-size: 18px;
                line-height: 22px;
                font-weight: 700;
            }

            .user-icon {
                margin-bottom: 2rem;
                font-size: 23px;
                color: var(--disabled-label-color);
            }
        }
    }

    &:hover {
        border-color: var(--primary-color);

        .p-card-body {
            .p-card-content {
                .user-icon {
                    color: var(--primary-color);
                }
            }
        }
    }

    &.selected {
        border: none;
        box-shadow: 0px 3px 10px var(--box-shadow-color);

        .p-card-body {
            .p-card-content {
                .user-icon {
                    color: var(--primary-color);
                }
            }
        }
    }
}