@import './../components/_nav.css';

.BKTT-Header {
	background-color: var(--header-bg-color);
	color: var(--text-custom-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--border-color);
	box-shadow: none;
	border-radius: 0px;
	min-height: 60px;
}

.BKTT-Header .logo {
	margin-left: 1rem;
	max-width: 200px;
	overflow: hidden;
}

.BKTT-Header .logo img {
	max-height: 35px;
}

.BKTT-Search .input-group {
	width: 160px;
	height: 35px;
}

.BKTT-Search .input-group .form-control {
	margin-bottom: 0;
	float: none;
}

.BKTT-Search .input-group input {
	position: absolute;
	padding: 0.5rem 35px 0.5rem 1rem;
	border-color: transparent;
	width: 164px !important;
	background-color: transparent;
	right: -4px;
	top: 3px;
	transition: all 0.3s ease-out;
	margin-left: 0;
	height: 35px;
	line-height: 35px;
}

.BKTT-Search .input-group input[value="Búsqueda..."] {
	font-family: var(--font-family-italic);
}

.BKTT-Search .input-group input::placeholder {
	font-style: italic;
}

.BKTT-Search .input-group input:focus {
	border-radius: 20px !important;
	width: 250px !important;
}

.BKTT-Search .ms-srch-sb-searchLink {
	position: absolute !important;
	right: 0;
	z-index: 999 !important;
	border-radius: 50% !important;
	padding: 13px 14px;
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color);
	transition: all 0.3s ease-out;
	top: 5px;
}

.BKTT-Search .ms-srch-sb-searchLink .ms-srch-sb-searchImg {
	left: -31px;
	top: -55px;
}

.BKTT-Search .ms-srch-sb-searchLink:hover {
	background-color: var(--secondary-color) !important;
}

.BKTT-Nav+.BKTT-LangSelect {
	position: relative;
	padding-left: 20px;
}

.BKTT-Nav+.BKTT-LangSelect::before {
	content: "\f0ac";
	position: absolute;
	left: -4px;
	z-index: 999;
	font-family: 'Font Awesome 6 Pro';
	display: block;
	font-weight: 300;
}

.BKTT-Nav+.BKTT-LangSelect ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.BKTT-Nav+.BKTT-LangSelect ul li {
	font-family: var(--font-family-secondary);
}

.BKTT-Nav+.BKTT-LangSelect ul a {
	display: none;
}

@media (max-width: 1255px) {
	.BKTT-Header .container .d-flex .BKTT-Logo {
		margin: 0;
	}

	/*.BKTT-Header .container .d-flex .BKTT-Logo + .d-flex.align-items-center{
		width:50%;
	}*/

	.BKTT-Header .container .d-flex .BKTT-Search input {
		width: 0 !important;
	}
}

@media (max-width: 991px) {
	.BKTT-Header {
		min-height: fit-content;
	}

	.BKTT-Search {
		display: none;
	}

	.BKTT-Search--mobile {
		position: relative;
		display: block !important;
	}

	.BKTT-Search--mobile .container {
		display: none;
		padding: 2rem 1rem;
		background-color: var(--primary-color);
	}

	.BKTT-Search--mobile:has(.BKTT-Button:hover) .container {
		display: block;
		position: absolute;
		width: 400px;
		top: 48px;
		left: -200px;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
		z-index: 888;
	}

	.BKTT-Search--mobile .BKTT-Button {
		border-color:transparent;
		background-color: transparent;
		padding: 4px 7px;
	}

	.BKTT-Search--mobile .BKTT-Button .BKTT-Icon:before {
		color: var(--text-color);
		font-size: 1.3rem;
		content: "\f002";
	}

	.BKTT-Search--mobile .BKTT-Button[aria-expanded=true] .BKTT-Icon:before {
		content: "\f05e";
	}

	.BKTT-Search--mobile .container .input-group {
		background-color: var(--custom-white);
		border-radius: 8px;
	}

	.BKTT-Search--mobile .container .input-group .form-control {
		height: 44px;
		border-color: transparent;
	}

	.BKTT-Search--mobile .container .input-group .BKTT-Button {
		border-radius: 50%;
		background-color: var(--primary-color);
		margin: 5px 8px 0 0;
		padding: 4px 7px;
	}

	.BKTT-Search--mobile .container .input-group .BKTT-Button .BKTT-Icon {
		font-size: larger;
	}

	.BKTT-LangSelect {
		padding-right: 15px;
	}

	.BKTT-LangSelect .BKTT-Icon {
		left: 0;
	}

	.BKTT-LangSelect select {
		padding-left: 2rem;
		padding-right: 0;
	}

	/*modo edición*/
	#ms-designer-ribbon {
		position: relative;
		z-index: 999;
		display: block;
		clear: both;
		margin-top: 57px;
	}
}