@import './../components/_nav.css';

.BKTT-Header {
	background-color: var(--header-bg-color);
	color: var(--text-custom-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--border-color);
	box-shadow: none;
	border-radius: 0px;
	/*min-height: 60px;*/
}

.BKTT-Header .logo {
	margin-left: 1rem;
	max-width: 200px;
	overflow: hidden;
}

.BKTT-Header .logo img {
	max-height: 35px;
}

.BKTT-Search .input-group {
	width: 160px;
	height: 35px;
}

.BKTT-Search .input-group .form-control {
	margin-bottom: 0;
	float: none;
}

.BKTT-Search .input-group input {
	position: absolute;
	padding: 0.5rem 35px 0.5rem 1rem;
	border-color: transparent;
	width: 164px !important;
	background-color: transparent;
	right: -4px;
	top: 0;
	transition: all 0.3s ease-out;
	margin-left: 0;
	height: 37px;
	line-height: 35px;
}

.BKTT-Search .input-group input[value="Búsqueda..."] {
	font-family: var(--font-family-italic);
}

.BKTT-Search .input-group input::placeholder {
	font-style: italic;
}

.BKTT-Search .input-group input:focus {
	border-radius: 20px !important;
	width: 250px !important;
}

.BKTT-Search .ms-srch-sb-searchLink {
	position: absolute !important;
	right: 0;
	z-index: 999 !important;
	border-radius: 50% !important;
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color);
	transition: all 0.3s ease-out;
	padding: 14px 15px;
	top: 3px;
}

.BKTT-Search .ms-srch-sb-searchLink .ms-srch-sb-searchImg {
	display: none;
}

.BKTT-Search .ms-srch-sb-searchLink:hover {
	border-color: var(--secondary-color);
}

.BKTT-Nav+.BKTT-LangSelect ul {
	margin-bottom: 8px;
	padding: 0 16px;
	list-style: none;
}

.BKTT-Nav+.BKTT-LangSelect ul li {
	font-family: var(--font-family-secondary);
}
.BKTT-Search .ms-srch-sb-searchLink:before {
		content: "\f002";
		font-family: 'Font Awesome 6 Pro';
		position: absolute;
		top: 2px;
		left: 7px;
		color: var(--link-color-light);
	}


@media (max-width: 1255px) {
	.BKTT-Header .container .d-flex .BKTT-Logo {
		margin: 0;
	}

	.BKTT-Header .container .d-flex .BKTT-Search input {
		width: 0 !important;
	}

	.BKTT-Nav .container-fluid .navbar-toggle {
		background: transparent;
	}
}

@media (min-width: 992px) {

	.BKTT-Search--mobile {
		display: none;
	}
}

@media (max-width: 991px) {
	.BKTT-Header {
		min-height: fit-content;
	}

	.BKTT-Search {
		display: none;
	}

	.BKTT-Search--mobile {
		position: relative;
		display: block !important;
	}

	.BKTT-Search--mobile .container {
		display: none;
		padding: 2rem 1rem;
		background-color: var(--primary-color);
	}

	.BKTT-Search--mobile:has(.BKTT-Button:hover) .container.show {
		display: block;
		position: absolute;
		width: 400px;
		top: 45px;
		left: -196px;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
		z-index: 888;
	}

	.BKTT-Search--mobile .BKTT-Button {
		border-color: transparent;
		background-color: transparent;
		padding: 4px 7px;
	}

	.BKTT-Search--mobile .BKTT-Button:hover,
	.BKTT-Search--mobile .BKTT-Button:focus {
		background: transparent;
		box-shadow: none;
	}

	.BKTT-Search--mobile[aria-expanded="true"]>.BKTT-Button>.BKTT-Icon:before {
		content: "\f05e";
		color: var(--primary-color);
	}

	.BKTT-Search--mobile .BKTT-Button .BKTT-Icon:before {
		color: var(--link-color);
		font-size: 1.3rem;
		content: "\f002";
	}

	.BKTT-Search--mobile[aria-expanded="true"]>.BKTT-Button>.BKTT-Icon:before {
		content: "\f05e";
		color: var(--primary-color);
	}

	.BKTT-Search--mobile .container .input-group {
		background-color: var(--custom-white);
		border-radius: 8px;
	}

	.BKTT-Search--mobile .container .input-group .form-control {
		height: 44px;
		border-color: transparent;
	}

	.BKTT-LangSelect {
		padding-right: 15px;
	}

	.BKTT-LangSelect .BKTT-Icon {
		left: 0;
	}

	.BKTT-LangSelect select {
		padding-left: 2rem;
		padding-right: 0;
	}

	/*modo edición*/
	#ms-designer-ribbon {
		position: relative;
		z-index: 999;
		display: block;
		clear: both;
		margin-top: 57px;
	}

	.BKTT-Search--mobile:has(.BKTT-Button:hover) .container {
		top: 45px;
	}

	.BKTT-Search--mobile .container .input-group .form-control {
		padding-left: 20px;
	}

	.BKTT-Search--mobile .container .input-group .BKTT-Button {
		background-color: transparent;
		margin: 5px 8px 0 0;
	}

	.BKTT-Search--mobile .container .BKTT-Icon {
		right: 0;
		position: absolute;
		top: -5px;
		background-color: var(--primary-color);
		padding: 7px 9px 8px;
		border-radius: 50%;
	}

	.BKTT-Search--mobile .container .BKTT-Icon:before {
		color: var(--link-color-light);
		font-size: 0.9rem;
	}
}