/* ABEM Syntax Pattern 
.[atomic-prefix]-[block]__[element]--[modifier]*/

/* === CONTAINER === */
.BKTT-CardContainer {
 list-style: none;
 padding: 0;
 margin: 0;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 0.55%;
}

.BKTT-CardContainer.flex-column {
 flex-direction: column;
 flex-wrap: nowrap;
}

.BKTT-CardContainer__item {
 display: flex;
 min-width: 0;
}

.BKTT-CardContainer.flex-column .BKTT-CardContainer__item {
 width: 100%;
}

/* === CARD === */
.BKTT-CardContainer__card.card {
 width: 100%;
 border-radius: var(--theme-border-radius)!important;
 overflow: hidden;
 border: 0 !important;
}

.BKTT-CardContainer__card .BKTT-Card__main {
 border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
 border: 1px solid var(--border-color) !important;
}

.BKTT-CardContainer.flex-column .BKTT-CardContainer__card {
 height: 100%;
}

/* === FIGURE (imagen + badge) === */
.BKTT-Card__figure {
 margin: 0;
 height: 150px;
 position: relative;
 flex-shrink: 0;
 overflow: hidden;
}

.BKTT-Card__figure .BKTT-Badge {
 position: absolute;
 top: 0.5rem;
 left: 0.5rem;
 z-index: 1;
 max-width: 20ch;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 font-weight: 500;
}

.BKTT-Card__figure img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 /* Comporta igual que background-size: cover */
 object-position: center;
 background-color: var(--border-color);
 display: block;
 /* Centra la imagen */
}

/* === MAIN === */
.BKTT-Card__main {
 display: flex;
 flex-direction: column;
 flex: 1;
 padding: 0.75rem 1rem;
}

.BKTT-Card__header {
 margin-bottom: 0.5rem;
}

.BKTT-Card__title {
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 overflow: hidden;
 text-overflow: ellipsis;
 margin-bottom: 1rem;
}

.BKTT-Card__title * {
 font-size: inherit !important;
}

.BKTT-Card__main .BKTT-Link {
 text-decoration: none;
}

.BKTT-Card__main .BKTT-Link:hover {
 text-decoration: underline;
}

/* === BODY === */
.BKTT-Card__Body {
 flex: 1;
 display: flex;
 flex-direction: column;
 overflow: hidden;
}

.BKTT-Card__Body p {
 margin-bottom: 0;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}

.BKTT-Card__Data {
 font-size: 0.8rem;
 gap:8px;
}

.BKTT-Card__Data data {
 display: flex;
 align-items: center;
}

.BKTT-Card__Data strong {
 font-size: 0.9rem;
 font-weight: 600;
}

.BKTT-Card__Data .BKTT-Date {
 font-size: 0.9rem;
}

.BKTT-Date {
 min-width: 112px;
}

.BKTT-progress__Container {
 margin-top: auto;
 min-width: 120px;
 display: flex;
 align-items: center;
 gap: 0.5rem;
}

.BKTT-progress__Container .BKTT-progress {
 flex: 1;
}

/* === FOOTER === */
.BKTT-Card__Footer {
 margin-top: auto;
 padding-top: 0.5rem;
}

.BKTT-Card__Footer .BKTT-Button {
 background-color: var(--primary-color);
}

.BKTT-Card__TagsProgress {
 gap: 0.5rem;
 flex-wrap: wrap;
}

.BKTT-Card__TagsProgress .BKTT-Tags {
 padding-left: 0;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 gap: 0.5rem;
 margin: 0;
}


/* Sin bordes en horizontal */
.BKTT-CardContainer__card--horizontal {
 border: none;
}

.BKTT-CardContainer__card--horizontal {
 border: none !important;
 border-radius: 0 !important;
}

.BKTT-CardContainer__card--horizontal .BKTT-Card__main {
 border: none !important;
 border-radius: 0 !important;
 padding-top: 0;
 padding-bottom: 0;
}

.col-md-6 .BKTT-CardContainer--column {
 flex-direction: column;
 flex-wrap: nowrap
}

/* Fondos alternos en column */
.BKTT-CardContainer--column .BKTT-CardContainer__card {
 border: none;
 background-color: var(--custom-white);
}

.BKTT-CardContainer--column>li:nth-child(odd) {
 background-color: #F1F1F2;
}

.BKTT-CardContainer--column>li:nth-child(odd) .BKTT-progress {
 background-color: var(--custom-white);
}


.BKTT-CardContainer__card.BKTT-CardContainer__card--horizontal {
 flex-direction: row;
 padding: 0.5rem;
 background-color: transparent;
 align-items: center;
}

.BKTT-CardContainer__card--horizontal .BKTT-Card__figure {
 min-height: unset;
 width: 312px;
 max-width: 312px;
 flex-shrink: 0;
 align-self: stretch;
}

.BKTT-CardContainer__card--horizontal .BKTT-Card__figure img {
 position: absolute;
 top: 0.25rem;
 left: 0.25rem;
 width: calc(100% - 0.25rem);
 height: calc(100% - 0.5rem);
 object-fit: cover;
 border-radius: 4px;
}

.BKTT-CardContainer__card--horizontal .BKTT-Card__figure .BKTT-Badge {
 top: 0.75rem;
 left: 0.75rem;
}

/* ScrollBar cuando no caben las cards*/

.BKTT-WebPartZone-H50--R .BKTT-CardContainer--column {
 max-height: 835px;
 overflow-y: auto;
}

/* === VARIANTES === */

.BKTT-CardContainer--scroll {
 max-height: 835px;
 overflow-y: auto;
}

/* === RESPONSIVE === */
@media (max-width: 991px) {
 
}

@media (max-width: 768px) {
 .BKTT-CardContainer--scroll {
  max-height: none;
  overflow-y: visible;
 }
}

