.BKTT-Main ul:has(> .BKTT-CardContainer__item) {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start !important;
  flex-wrap: wrap;
  gap: 8px;
}

.BKTT-CardGrid {
  display: flex;
  flex-direction: column;
}

.BKTT-CardGrid__sectionTitle {
  margin-top: 2rem;
}

.BKTT-CardGrid__item {
  max-width: 33%;
}

.BKTT-CardGrid__card {
  border: none !important;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
}

.BKTT-CardGrid__card .card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.BKTT-CardGrid__header {
  background-color: var(--primary-color);
  padding: 0.75rem 1rem;
  height: 56px;
}


.BKTT-CardGrid__card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.BKTT-CardGrid__title,
h3.BKTT-CardGrid__title {
  color: var(--custom-white) !important;
  margin: 0;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
}

/*.BKTT-CardGrid__item .BKTT-CardGrid__title {
 text-align: center;
}*/

.BKTT-CardGrid__card:hover .BKTT-CardGrid__title {
  text-decoration: none;
}

.BKTT-Main .dfwp-item {
  display: none;
}

/*25 w*/
.BKTT-WebPartZone-H25--L , .BKTT-WebPartZone-H25--R {
  overflow: hidden;
  overflow-x: auto;
}
.BKTT-WebPartZone-H25--L ul,
.BKTT-WebPartZone-H25--R ul {
  gap: 8px !important;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
}

.BKTT-WebPartZone-H25--L .BKTT-CardContainer__item,
.BKTT-WebPartZone-H25--R .BKTT-CardContainer__item {
  max-width: 48%;
}

/*end 25 w*/
/*noticias*/
.BKTT-CardContainer__card--no-image {
  padding-top: 1rem !important;
  align-items: flex-start !important;
}

.BKTT-CardContainer__card--no-image .BKTT-Badge {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*noticias end*/
/*rutas*/
.BKTT-WebPartZone-H25--R .BKTT-CardContainer__card--horizontal,
.BKTT-WebPartZone-H25--L .BKTT-CardContainer__card--horizontal,
.BKTT-WebPartZone-H25--1 .BKTT-CardContainer__card--horizontal,
.BKTT-WebPartZone-H25--2 .BKTT-CardContainer__card--horizontal,
.BKTT-WebPartZone-H25--3 .BKTT-CardContainer__card--horizontal,
.BKTT-WebPartZone-H25--4 .BKTT-CardContainer__card--horizontal {
  flex-direction: column;
}

.BKTT-WebPartZone-H25--R .BKTT-CardContainer__card--horizontal .BKTT-Card__figure,
.BKTT-WebPartZone-H25--L .BKTT-CardContainer__card--horizontal .BKTT-Card__figure,
.BKTT-WebPartZone-H25--1 .BKTT-CardContainer__card--horizontal .BKTT-Card__figure,
.BKTT-WebPartZone-H25--2 .BKTT-CardContainer__card--horizontal .BKTT-Card__figure,
.BKTT-WebPartZone-H25--3 .BKTT-CardContainer__card--horizontal .BKTT-Card__figure,
.BKTT-WebPartZone-H25--4 .BKTT-CardContainer__card--horizontal .BKTT-Card__figure,
.BKTT-WebPartZone-H25--R .BKTT-CardContainer__card--horizontal p,
.BKTT-WebPartZone-H25--L .BKTT-CardContainer__card--horizontal p,
.BKTT-WebPartZone-H25--1 .BKTT-CardContainer__card--horizontal p,
.BKTT-WebPartZone-H25--2 .BKTT-CardContainer__card--horizontal p,
.BKTT-WebPartZone-H25--3 .BKTT-CardContainer__card--horizontal p,
.BKTT-WebPartZone-H25--4 .BKTT-CardContainer__card--horizontal p {
  display: none;
}

/*end rutas*/


@media (max-width: 991px) {
  .BKTT-CardGrid {
    flex-direction: column;
  }

  .BKTT-CardGrid__item {
    max-width: 100%;
  }

  /*rutas*/
  [class*="BKTT-WebPartZone-"] .BKTT-CardContainer__card--horizontal {
    flex-direction: column;
  }

  [class*="BKTT-WebPartZone-"] .BKTT-Card__figure,
  [class*="BKTT-WebPartZone-"] p {
    display: none;
  }

  /*end rutas*/
}