/* ABEM Syntax Pattern 
.[atomic-prefix]-[block]__[element]--[modifier]*/


.BKTT-CardContainer__card {
  display: flex;
  flex-direction: column;
}

.BKTT-Card__main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.BKTT-Card__Body {
  flex: 1;
}

.BKTT-Card__Footer {
  margin-top: auto;
}

.BKTT-CardContainer{
  list-style: none;
  padding: 0;
}
.BKTT-Card__figure {
  margin-bottom: 0;
  height: 200px;
  position: relative;
}
.BKTT-Card__figure .BKTT-Badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
}
.BKTT-Card__figure img{
  height: 100%;
  object-fit: cover; /* Comporta igual que background-size: cover */
  object-position: center; /* Centra la imagen */
}
.BKTT-Card__main{
  padding: 0.5rem 1rem;
}
.BKTT-Card__main .BKTT-Link{
  text-decoration:none ;
}
.BKTT-Card__main .BKTT-Tags{
  padding-left: 0;
      display: flex;
    align-items: center;
}
.BKTT-Card__main .BKTT-Tags li{
  list-style: none;
  color:var(--text-color__grey);
}
.BKTT-Card__Footer .BKTT-Button{
  background-color: var(--primary-color);
}

.BKTT-CardContainer--C { /* Variant: Columna cards */ }
.BKTT-CardContainer--CI { /* Variant: Columna cards inverse */ }
.BKTT-CardContainer__item { /* Internal Element */ }
