.BKTT-Nav .navbar-nav .nav-item .nav-link {
	 padding: 11.1px 0.85rem;
	 color: var(--text-color);
	 border-radius: 0;
	 transition: box-shadow 0.2s;
	 user-select: none;
	 overflow: inherit;
	 font-weight: 600;
	 border-radius: 20px;
	 transition: all 0.3s ease-out;
}
 .BKTT-Nav .navbar-nav .nav-item .nav-link .BKTT-Icon {
	 margin-right: 0.5rem;
}
 .BKTT-Nav .navbar-nav .nav-item .nav-link .BKTT-Icon:first-child {
	 color: var(--text-color);
}
 .BKTT-Nav .navbar-nav .nav-item .nav-link .BKTT-Icon[class*="fa-chevron"] {
	 color: var(--primary-color);
	 margin-right: 0;
}
 .BKTT-Nav .navbar-nav .nav-item .nav-link:hover {
	 color: var(--primary-color);
}
 .BKTT-Nav .navbar-nav .dropdown-menu {
	 background-color: var(--primary-color);
	 background-image: var(--menu-image);
	 background-position: left bottom;
	 padding: 1rem;
	 border-width: 1px;
	 border-style: solid;
	 border-color: var(--primary-color);
	 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	 width: 792px;
	 border-radius: 0 0 6px 6px;
	 min-width: 230px;
	 margin-top: 1px;
}
 .BKTT-Nav .navbar-nav .dropdown-menu h2 {
	 color: var(--custom-white);
}
 .BKTT-Nav .navbar-nav .dropdown-menu li {
	 list-style: none;
}
 .BKTT-Nav .navbar-nav .dropdown-menu li a.dropdown-item {
	 color: var(--link-color-light);
	 font-size: 14px;
	 line-height: 19px;
}
 .BKTT-Nav .navbar-nav .dropdown-menu li a.dropdown-item:hover {
	 background-color: var(--secondary-color);
}
 .BKTT-Nav .navbar-nav .dropdown-menu li .BKTT-Icon {
	 color: var(--link-color-light);
}
 .BKTT-Nav .navbar-nav .p-menubar-root-list {
	 height: 60px;
}
 .BKTT-Nav .navbar-nav .p-menubar-root-list > .p-menuitem {
	 height: 100%;
	 padding: 0px 1.25rem;
}
 .BKTT-Nav .navbar-nav .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
	 padding: 0.75rem 0rem;
	 color: var(--text-color);
	 border-radius: 0px;
	 transition: box-shadow 0.2s;
	 user-select: none;
	 height: 100%;
	 font-weight: 500;
}
 .BKTT-Nav .navbar-nav .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon {
	 background-color: var(--link-color-light);
	 margin-left: 0.5rem;
}
 .BKTT-Nav .navbar-nav .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
	 background: transparent;
}
 @media (max-width: 991px) {
	 .BKTT-Nav .navbar-nav .dropdown-menu {
		 min-width: fit-content;
		 background-image: none;
		 background-color: transparent;
		 border-radius: 0;
		 border-color: transparent;
	}
	 .BKTT-Nav .navbar-nav .dropdown-menu li a.dropdown-item {
		 color: var(--text-color);
	}
	 .BKTT-Nav .navbar-nav .dropdown-menu li a.dropdown-item .BKTT-Icon {
		 color: var(--primary-color);
	}
	 .BKTT-Nav .navbar-nav .nav-item .nav-link .BKTT-Icon:first-child {
		 color: var(--primary-color);
	}
}
 