.BKTT-footer {
 margin-top: auto;
 background-color: var(--footer-bg-color);
 padding: 2.5rem 2rem;
 color: var(--text-color);
 .BKTT-BackTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 0.3s ease-out;
  &:active, &:hover{
   background-color: var(--secondary-color);
   border-color: var(--secondary-color);
  }
 }
 .BKTT-RRSS{
  a{
   transition: all 0.3s ease-out;
   &:hover{
    color: var(--primary-color);
   }
  }
 }
 .BKTT-Icon.logo-biscaytik{
  width: fit-content;
 }
 .justify-content-end{
  justify-content: center!important;
 }
 .contact-block {
   p {
    a {
     font-weight: 400;
    }
   }
  }

  h4 {
   font-size: 13px;
   color: var(--text-color);
   font-weight: 400;
   margin-bottom: 1.5rem;
   text-transform: uppercase;

   @media (max-width: 575px) {
    margin-bottom: 1rem;
   }
  }

  ul {
   list-style: none;
   margin: 0px;
   padding: 0px;

   &.column-list {
    column-count: 2;
    column-gap: 20px;
    max-width: 400px;

    @media (max-width: 575px) {
     column-count: 1;
     max-width: inherit;
    }
   }

   li {
    line-height: 13px;

    a {
     color: var(--link-color);
     text-decoration: none;
     font-size: 13px;
     line-height: 17px;
     font-weight: 700;

     &:hover {
      text-decoration: underline;
     }
    }
   }
  }
   @media (max-width: 991px) {
    .BKTT-RRSS{
      display: flex;
      justify-content: center;
    }
   }
}