.BKTT-Header {
 background-color: var(--header-bg-color);
 color: var(--text-custom-color);
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: var(--border-color);
 box-shadow: none;
 border-radius: 0px;
 min-height: 60px;
 .logo {
  margin-left: 1rem;

  img {
   width: 100%;
   max-height: 35px;
  }
 }
}
.BKTT-Search{
 .input-group{
  width:160px;
  input{
  position: absolute;
  padding-right: 35px;
  border-color: transparent;
  width:164px!important;
  background-color:transparent;
  right: -4px;
  transition: all 0.3s ease-out;
   &::placeholder{
    font-style: italic;
   }
   &:focus{
    border-radius: 20px!important;
    width:250px!important;
   }
  }
 }
 button{
  position: absolute!important;
  right: 0;
  z-index:999!important;
  border-radius: 50%!important;
  padding: 3px 7px;
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color);
  transition: all 0.3s ease-out;
  &:hover{
   background-color: var(--secondary-color)!important;
  }
 }
 
}
.BKTT-Nav{
 & + .BKTT-LangSelect {
  display: none;
 }
}
.BKTT-LangSelect{
 margin-left:1rem;
 position: relative;
 .BKTT-Icon{
  position: absolute;
  left: 10px;
  z-index:999;
 }
 select{
  border:transparent;
  background-color:transparent;
  font-size: medium;
  padding: 11.1px 2rem 11.1px 2rem;
  &:focus{}
 }
}

@media (max-width: 1255px) {
 .BKTT-Header .container{
  .d-flex{
   .BKTT-Logo{
    margin:0;
   }
   .BKTT-Search {
    input{
     width: 0!important;
    }
   }  
   .BKTT-Nav{
    .container-fluid{
     padding: 0;
     .navbar-toggler{
      border:none;
      padding-right:0;
      padding-left:0;
     }
    }
    .navbar-collapse{
     position: absolute;
     width: 400px;
     left: -360px;
     top: 55px;
     background-color: var(--custom-white);
     box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
     .nav-item .row{
      flex-direction: column;
      .col{
       &:first-child{
        display:none;
       }
       ul{
        padding-left: 0;
        a{
         padding-left: 0;
        }
       }
      }
     }
    }
   }
  }
 }
}

@media (max-width: 991px) {
 .BKTT-Header {
  min-height: fit-content;
  .container{
   .BKTT-Search {
    .input-group{
     width: fit-content !important;
     button{
      display: none;
     }
     .BKTT-Button{
      background-color: transparent!important;
      border-color: transparent;
      padding-top: 5px;
      .BKTT-Icon{
       margin-top:4px;
      }
      &[aria-expanded='true']{
       .BKTT-Icon{
        &:before{
         content: "\f05e";
        }
       }
      }
     }
     .BKTT-Icon:before{
      color: var(--text-color);
      font-size: 1.3rem;
     }
     
    }
   }
   .BKTT-Search--mobile{
    position: absolute;
    width: 400px;
    top: 48px;
    left:0;
    background-color: var(--custom-white);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 888;
    .container{
     padding:2rem 1rem ;
     background-color: var(--primary-color);    
     .input-group{
      background-color: var(--custom-white);
      border-radius: 8px;
      .form-control{
       height:44px;
       border-color: transparent;
       &::placeholder{
        font-style: italic;
       }
      }
      .BKTT-Button{
       border-radius: 50%;
       background-color: var(--primary-color);
       margin: 5px 8px 0 0;
       padding: 4px 7px;
       .BKTT-Icon{
        font-size: larger;
       }
      }
     }
    }
   }
   .BKTT-Nav{
    .navbar-collapse{
     top: 48px!important;
     left: -349px!important;
    }
    .BKTT-Icon{
     padding: 0 12px;
    }
    .navbar-toggler[aria-expanded="true"] .BKTT-Icon:before {
     content: '\f00d';
     font-size: 1.5rem;
    }
    .BKTT-LangSelect {
     display: block;
    }
    & + .BKTT-LangSelect {
     display: none;
    }
   }
   .BKTT-LangSelect{
    padding-right:15px;
    .BKTT-Icon{
     left:0;
    }
    select{
     padding-left:2rem;
     padding-right:0;
    }
   }
  }
 }
}

