/*resolver tema variable fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*end resolver tema variable fuentes*/
:root {
    //default font
    --font-family: 'Poppins', sans-serif;
    //icon font

    //default colors
    --theme-white: #fff;
    --theme-beige: #FAF8F2;
    --theme-primary-color: #2196F3;
    --theme-primary-color--100: #E9F5FE
    --theme-secondary-color: #145A92;

    --theme-black: #2D2D31;
    --theme-border-color: #ddd;

    --theme-menu-image: url('./assets/themes/default/menu-bg.png');
    
}