html,
body {
 color: var(--text-color);
 background-color: var(--home-bg-section-soft-grey-color);
 height: 100%;
 font-family: var(--font-family);
 *:focus{
  outline-width: 2px;
  outline-color:var(--primary-color);
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem var(--primary-color);
 }
 main{
  margin-top:60px;
  p{
   font-family: var(--font-family-secondary);
  }
  a{
   color:var(--link-color);
  }
 }
}

#root {
 height: 100%;
 display: flex;
 flex-direction: column;
}

/*Titles*/
.section-title {
 font-size: 1.5rem;
 margin-top: .25rem;
 text-transform: uppercase;
 font-weight: 700;
 margin-bottom: 2rem;
}

.section-subtitle {
 margin-bottom: 2rem;
}

.results-title {
 font-size: 1.5rem;
 margin-bottom: 1rem;
}

.title-card-data {
 font-size: 1.25rem;
 margin-bottom: 1rem;
}

.form-section-title {
 font-size: 1.1rem;
 margin-bottom: 1.5rem;
 font-weight: 700;
 text-transform: uppercase;
}

/*END Titles*/


p {
 font-size: 0.938rem;
}

main {

}

 @media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
   max-width: 1400px;
  }
 }

 @media only screen and (min-width: 768px) {

 }

.home-card {
 height: 100%;
 box-shadow: none;
 border: 1px solid var(--dialog-border-color);
 cursor: pointer;
}